<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap" rel="stylesheet">

    <style type="text/css">
        body{
            padding: 50px 0px 50px 0px;
            z-index: 0;
            font-family: 'Roboto', sans-serif;
        }
    	a{
    		text-decoration: none;
    	}
        a:hover{
            text-decoration: none;
            color: black;
        }
    	.container{
            width: 80%;
    		margin-top: 100px;
    		border:10px solid black;
    	}
    </style>

	<title>Response Recorded</title>
</head>
<body>

	<div class="container">
		<div class="row response">
			<div class="col-12">
				<h1 align="center">Your Feedback has been recorded</h1>
			</div>
			<div class="col-12">
                <p align="center">Add another <a href="{{url_for('contact')}}">Response</a></p>
				<p align="center">Go back to <a href="{{url_for('home')}}">Home</a></p>
			</div>
		</div>
	</div>

</body>
</html>